.basket-item {
	display: grid;
	height: 80px;
	grid-template-columns: 1fr 2fr 10fr 2fr 2fr;
	box-shadow: var(--box-shadow-base);
	overflow: hidden;
	margin: 0 0 10px 0;
	border-radius: var(--border-m);
	& > * {
		display: flex;
		align-items: center;
	}
	& > *:not(:last-child) {
		border-right: 1px solid #ccc;
	}
	&__seq {
		justify-content: center;
	}
	&__name {
		padding: 10px 10px;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
	}
	&__img {
		height: inherit;
		justify-content: center;
		padding: 5px;
		& img {
			max-width: 100%;
			height: 100%;
		}
	}
	&__price {
		justify-content: center;
	}
	&__ctrl {
		justify-content: center;
		padding: 0 10px;
	}
}

@media (max-width: 900px) {
	.basket-item {
		grid-template-columns: 1fr 2fr 8fr 2fr 2fr;
		height: 60px;
		&__name {
			white-space: nowrap;
			text-overflow: ellipsis;
			display: block;
		}
		&__ctrl {
			& button {
				transform: scale(0.9);
			}
		}
	}
}
@media (max-width: 500px) {
	.basket-item {
		grid-template-columns: 1fr 3fr 7fr 2fr 2fr;
		height: 50px;
		font-size: 12px;
		&__ctrl {
			& button {
				transform: scale(0.8);
			}
		}
	}
	
}
@media (max-width: 418px) {
	.basket-item {
		grid-template-columns: 1fr 3fr 7fr 2fr 1fr;
		font-size: 11px;
		&__img {
			padding: 2px;
		}
		&__name {
			padding: 0 5px;
		}
		&__price {
			font-size: 10px;
		}
		&__ctrl {
			padding: 0;
			& button {
				transform: scale(0.7);
			}
		}
	}
}