.basket-order {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #EEE;
	padding: 20px 30px;
	border-radius: var(--border-l);
	&__ctrl {
		margin: 0 0 0 20px;
	}
}

@media (max-width: 500px) {
	.basket-order {
		padding: 10px 15px;
		font-size: 13px;
		flex-direction: column;
		gap: 10px 0;
	}
}